@model VeterinaryClinicGS.Models.AgendaViewModel


@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />


<div>   
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />


                    <dt>
                        @Html.DisplayNameFor(model => model.Owner.FullName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Owner.FullName)
                    </dd>



                    <div class="form-group">
                        <label asp-for="ServiceTypeId" class="control-label"></label>
                        <select asp-for="ServiceTypeId" asp-items="Model.ListServiceTypes" class="form-control"></select>
                        <span asp-validation-for="ServiceTypeId" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="AnimalId" class="control-label"></label>
                        <select asp-for="AnimalId" asp-items="Model.Animals" class="form-control"></select>
                        <span asp-validation-for="AnimalId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DoctorId" class="control-label"></label>
                        <select asp-for="DoctorId" asp-items="Model.Doctors" class="form-control"></select>
                        <span asp-validation-for="DoctorId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RoomId" class="control-label"></label>
                        <select asp-for="RoomId" asp-items="Model.Rooms" class="form-control"></select>
                        <span asp-validation-for="RoomId" class="text-danger"></span>
                    </div>
                   

                 </form>

            </dl>
        </div>
@*
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dates</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" id="MyTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                               
                                    <td>
                                        @if (item.IsAvailable)
                                        {
                                            <a asp-action="Assing" class="btn btn-primary" asp-route-id="@item.Id">Assign</a>
                                        }
                                        else
                                        {
                                            <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Cancel</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
*@
        @*<partial name="_DateList" />*@

       

    </div>












   
</div>



<div>
     <p>
        <a asp-action="DateList" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Search Days</a>
     </p>

</div>
<hr />










@*
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Agenda</h3>
            </div>









            <div class="panel-body">
                <table class="table table-hover  table-striped" id="MyTable">
                    <thead>
                        <tr>
                           
                            <th>
                                @Html.DisplayNameFor(model => model.Owner.User.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Animal.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Doctor.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Room.RoomNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ServiceType.Name)
                            </th>
                            
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.Owner.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Animal.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Doctor.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Room.RoomNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServiceType.Name)
                                </td>

                               
                               
                            </tr>
                        }
                    </tbody>
                </table>
            </div>




            <p>
                 <a asp-action="SearchDays" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Search Days</a>
              </p>



        </div>
    </div>
</div>


<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Un-assign Agenda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure to un-assign this appoiment?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="btnYesDelete">Un-Assign</button>
            </div>
        </div>
    </div>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 @*<script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Agenda/Unassign/' + item_to_delete;
            });
        });
    </script>*@
}