@model VeterinaryClinicGS.Data.Entity.Animals

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<h2>Pet</h2>

<div>
    <h4>Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    Owner
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.User.FullName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Race)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Race)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Born)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Born)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Remarks)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Remarks)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.ImageFullPath))
            {
                <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto">
            }
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    
    <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-success">Back to List</a>
</div>
<hr />




