@model VeterinaryClinicGS.Data.Entity.Animals

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<h2>Animal</h2>

<div>
    <h4>Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    Owner
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Owner.User.FullName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Race)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Race)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Born)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Born)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Remarks)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Remarks)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.ImageFullPath))
            {
                <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:300px;height:300px;max-height: 100%; width: auto;" />
            }
        </div>
    </div>
</div>
<div>
    @if (!User.Identity.IsAuthenticated && User.IsInRole("Customer"))
    {
        <a asp-action="EditAnimal" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    }
    
    <a asp-action="Details" asp-route-id="@Model.Owner.Id" class="btn btn-success">Back to Owner</a>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
