@model IEnumerable<VeterinaryClinicGS.Data.Entity.Owners>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create New</a>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Owners</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover  table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.User.ImageId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.Document)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.PhoneNumber)
                            </th>
                            <th>
                                Animals
                            </th>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                 <td>
                                     @if (!string.IsNullOrEmpty(item.User.ImageFullPath))
                                     {
                                       <img src="@Url.Content(item.User.ImageFullPath)" alt="Image" style="width:200px;height:250px;max-width:100%;height:auto">
                                     }
                                 </td>



                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Document)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Animal.Count)
                                </td>
                                <td>
                                     <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>  
                                </td>
                                <td>
                                     <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> 
                                </td>
                                <td>
                                     <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}